@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-on-surface-variant: #c4c6cd;
  --color-tertiary-fixed: #ffdad9;
  --color-surface-container: #122031;
  --color-surface-bright: #2c3a4c;
  --color-surface-dim: #051424;
  --color-on-primary-fixed: #001f26;
  --color-error: #ffb4ab;
  --color-on-primary: #003641;
  --color-on-tertiary-container: #ef3b4d;
  --color-on-primary-fixed-variant: #004e5d;
  --color-surface-container-lowest: #010f1f;
  --color-on-background: #d5e4fa;
  --color-on-tertiary-fixed-variant: #920020;
  --color-secondary: #b9c8dd;
  --color-tertiary: #ffb3b2;
  --color-on-secondary-fixed: #0e1c2d;
  --color-inverse-on-surface: #233142;
  --color-on-error-container: #ffdad6;
  --color-error-container: #93000a;
  --color-on-tertiary: #680013;
  --color-primary-fixed-dim: #00d9ff;
  --color-surface: #051424;
  --color-surface-container-highest: #283647;
  --color-surface-container-high: #1d2b3c;
  --color-on-surface: #d5e4fa;
  --color-tertiary-fixed-dim: #ffb3b2;
  --color-secondary-fixed-dim: #b9c8dd;
  --color-secondary-container: #3a485a;
  --color-secondary-fixed: #d5e4fa;
  --color-background: #051424;
  --color-tertiary-container: #3a0007;
  --color-on-error: #690005;
  --color-surface-variant: #283647;
  --color-surface-container-low: #0e1c2d;
  --color-on-secondary-fixed-variant: #3a485a;
  --color-on-secondary: #233142;
  --color-primary-fixed: #aeecff;
  --color-outline-variant: #44474c;
  --color-outline: #8e9197;
  --color-primary: #00d9ff;
  --color-primary-container: #001b22;
  --color-surface-tint: #00d9ff;
  --color-on-tertiary-fixed: #410008;
  --color-inverse-primary: #00687b;
  --color-inverse-surface: #d5e4fa;
  --color-on-primary-container: #008ea7;
  --color-on-secondary-container: #a8b6cc;
}

@layer base {
  body {
    @apply bg-surface-dim text-on-surface font-sans antialiased selection:bg-primary/30;
  }
}

@layer components {
  .glass-gradient {
    background: linear-gradient(135deg, rgba(0, 217, 255, 0.05) 0%, rgba(18, 32, 49, 0) 100%);
  }

  .glow-tertiary {
    box-shadow: 0 0 20px 0px rgba(239, 59, 77, 0.15);
  }

  .glow-primary {
    box-shadow: 0 0 20px 0px rgba(0, 217, 255, 0.1);
  }

  .bento-card {
    @apply bg-surface-container transition-all duration-200 hover:bg-surface-container-high border border-outline-variant/5;
  }
}
